.fixed-background {
  background: "";
  background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.form-control {
  display: block;
  width: 100%;
  border-radius: 0.1rem;
  outline: medium none invert !important;
  outline: initial !important;
  box-shadow: none !important;
  font-size: 0.8rem;
  padding: 0.7rem 0.75rem 0.65rem;
  line-height: 1.5;
  border: 1px solid #d7d7d7;
  background: #fff;
  color: #212121;

  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
a {
  color: #212121;
  transition: color 0.2s;
  text-decoration: none;
  background-color: initial;
}
.btn {
  border-radius: 50px;
  outline: medium none invert !important;
  outline: initial !important;
  box-shadow: none !important;
  font-size: 0.8rem;
  padding: 0.75rem 1.3rem 0.6rem;
}

.btn-group-lg > .btn,
.btn-lg {
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 0.05rem;
  padding: 0.75rem 2.6rem 0.6rem;
}
.btn-primary {
  background-color: #145388;
  border-color: #145388;
  color: #fff;
}
.btn-group-lg > .btn,
.btn-group-sm > .btn,
.btn-lg {
  border-radius: 50px;
}
.btn-shadow {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15), 0 1px 3px 1px rgba(0, 0, 0, 0.15) !important;
}
.btn,
.btn-shadow {
  -webkit-transition: background-color box-shadow 0.1s linear;
  transition: background-color box-shadow 0.1s linear;
}
